@font-face {
    font-family: 'Gilroy Extra Bold'; 
    src: url('/font/Gilroy/Gilroy-ExtraBold.eot'); 
    src: local('Gilroy Extra Bold'), url('/font/Gilroy/Gilroy-ExtraBold.woff') format('woff'), url('/font/Gilroy/Gilroy-ExtraBoldItalic.ttf') format('truetype');
}