main {
    // background-color: lightgray;
}

.content {
    align-items: stretch;

    
}

aside {
    background-color: #efefef;
    flex-basis: 270px;
    margin-right: 20px;
}

.goods {
    width: 100%;
    ul {
        width: 100%;
        padding: 0;
        list-style: none;
        flex-wrap: wrap;
        flex-grow: 2;
    }

    figure {
        margin: 20px;
    }
    
}