@use 'fonts';
@use 'header';
@use 'main';
@use 'footer';

html {
    font-size: 15px;
}

.container {
    width: 1040px;
    margin: 0 auto;
    position: relative;
}

.row {
    display: flex;
    
}

.space-between {
    justify-content: space-between;
}

.f-end {
    justify-content: flex-end;
}